<% if !@previous_prices.empty? %>
  <div class="panel clearfix">
    <h3>Price History</h3>
    <table>
      <thead>
        <tr>
          <th width="120">Date</th>
          <th width="100">Amount</th>
        </tr>
      </thead>
      <tbody>
      <% @previous_prices.each do |pricev| %>
        <tr>
          <td><%= pricev.start_date %></td>
          <td><%= number_to_currency pricev.price %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to(item_price_admin_path(item_id: @item.id), class: 'waves-effect waves-light btn') do %>
                &nbsp;Add Price&nbsp;
            <% end %>
  </div>
<% else %>

<div class="panel clearfix">
    <h3>Price History</h3>
    <%= link_to(item_price_admin_path(item_id: @item.id), class: 'waves-effect waves-light btn') do %>
                &nbsp;Add Price&nbsp;
            <% end %>
  </div>
<% end %>
