<% unless @previous_prices.empty? %>
  <div class="panel clearfix">
    <h3>Price History</h3>
    <table>
      <thead>
        <tr>
          <th width="120">Date</th>
          <th width="100">Amount</th>
        </tr>
      </thead>
      <tbody>
      <% @previous_prices.each do |pricev| %>
        <tr>
          <td><%= pricev.start_date %></td>
          <td><%= pricev.price %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
