<% if @cart_items.empty? %>
  <h4>No cart items this time.</h4>
<% else %>
  <h4> Cart </h4>
  <table class="table table-striped">
    <!-- <thead>
      <tr>
        <th width="225">Name</th>
        <th width="125">Phone</th>
        <th width="200">Email</th>
      </tr>
    </thead> -->
    <tbody>
      <% @cart_items.each do |orderI| %>
        <tr>
          <td><%= orderI.item_id %></td>
          <td><%= orderI %></td>
          <td><%= link_to(remove_item_path(orderI.item_id), class: 'button tiny radius', method: "patch") do %>
                &nbsp;Remove Item&nbsp;
                <% end %> 
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to(clear_all_cart_path, class: 'button tiny radius', method: "get") do %>
                &nbsp;Clear Cart&nbsp;
              <% end %>
<% end %>
<p>&nbsp;</p>